/*-------------Google Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------General-------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*-------------Header-------------*/

header {
    height: 600px;
}

/*-------------Navbar-------------*/

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    position: sticky;
}

#nav-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    width: 15%; 
}