/*-------------Google Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------General-------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*-------------Header-------------*/

header {
    height: 100%;
    width: 100%;
}

#header-background {
    height: 700px;
    background: url(/documentation/images/pole-dancer.jpg) no-repeat center center;
    background-size: cover;
    animation: bg-zoom 6s forwards;
}

@keyframes bg-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/*-------------Navbar-------------*/

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    position: fixed;
    z-index: 1;
}

#nav-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF3B0;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    position: absolute;
    z-index: 1;
    margin-top: 500px;
    margin-left: 500px;
    font-size: 4em;
    font-family: 'Homemade Apple', cursive;
    text-transform: lowercase;
}

/*-------------About-------------*/

#about {
    height: 700px;
    position: relative;
    box-sizing: border-box;
    background-color: #C1121F;
}

/*-------------Media Queries-------------*/

@media (min-width: 480px) and (max-width: 798px) {
    
    #header-background {
        height: 500px;
    }

    #navbar {
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    
    #nav-menu {
        flex-direction: column;
    
    }
}

@media (min-width: 798px) and (max-width: 1024px) {
    header {
        height: 700px;
    }
    
    #navbar {
        width: 100%;
    }
}