/*-------------Google Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------General-------------*/

* {
    padding: 0;
    margin: 0;
}