/*-------------Google Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------General-------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

/*-------------Header-------------*/

header {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header-background {
    height: 700px;
    width: 100%;
    background: url(/documentation/images/pole-dancer.jpg) no-repeat center center;
    background-size: cover;
    animation: bg-zoom 3s forwards;
    overflow: hidden;
}

@keyframes bg-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*-------------Navbar-------------*/

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    position: fixed;
    z-index: 2;
}

#nav-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF3B0;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    position: absolute;
    z-index: 1;
    margin-top: 500px;
    margin-left: 500px;
    font-size: 3.5em;
    font-family: 'Homemade Apple', cursive;
    text-transform: lowercase;
}

/*-------------About-------------*/

#about {
    height: 800px;
    width: 100%;
    background-color: #C1121F;
    position: relative;
}

#about h1,
#about h2 {
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    text-transform: uppercase;
    text-align: center;
}

#about h1 {
    font-size: 6em;
    font-weight: 400;
    letter-spacing: 8px;
}

#about h2 {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 15px;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    margin-top: 80px;
}

#about-container .third {
    width: 33.3%;
    height: 100%;
}

#about h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 4px;
}

#about-left,
#about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pole-studio {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background: url(/documentation/images/pole-studio.jpg) no-repeat center center;
    background-size: cover;
}


.third p {
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    text-align: justify;
    font-weight: 200;
    line-height: 30px;
    width: 90%;
    font-size: 1em;
    margin-top: 20px;
}

.third ul {
    list-style: none;
    margin-top: 20px;
    color: #FFF3B0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
    width: 90%;
}

.third li {
    margin-bottom: 20px;
}

.third i:before {
    display: inline-block;
    margin-left: -35px;
    width: 35px;
}

#about-button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-button button {
    padding: 20px;
    width: 300px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #9A5526;
    outline: none;
    border: none;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    color: #FFF3B0;
}

/*-------------Classes-------------*/

#classes {
    height: 2000px;
    width: 100%;
    background-color: #FFF3B0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#class-header {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 4em;
    text-transform: uppercase;
    color: #191919;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 40px;
}

#class-section-wrapper {
    width: 100%;
    height: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    height: 25%;
    width: 100%;
}

#class-pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overlay {
    width: 25%;
    height: 100%;
}

.class-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.7);
}

.class-img h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3em;
    font-weight: 600;
}

.overlay:nth-of-type(1) {
    background: url(/documentation/images/pole-dancer-heels.jpg) no-repeat center center;
    background-size: cover;
}

.overlay:nth-of-type(2) {
    background: url(/documentation/images/pole-dancer-duo.jpg) no-repeat center center;
    background-size: cover;
}

.overlay:nth-of-type(3) {
    background: url(/documentation/images/pole-dancer-flex.jpg) no-repeat center center;
    background-size: cover;
}

.overlay:nth-of-type(4) {
    background: url(/documentation/images/pole-dancer-doubles.jpg) no-repeat center center;
    background-size: cover;
}

#class-levels, 
#class-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#class-levels h2,
#class-extras h2 {
    margin-bottom: 20px;
}

.grid-row {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.level,
.class {
    width: 30%;
    height: 100%;
}

.level h3 {
    margin-left: 20px;
    color: #9A5526;
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 500;
}

.class h3 {
    margin-left: 20px;
    color: #9A5526;
    font-size: 1.6em;
    letter-spacing: 3px;
    font-weight: 500;
}

.description {
    width: 70%;
    height: 100%;
}

#class-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#class-buttons button {
    padding: 20px;
    margin: 0 20px;
    background-color: #9A5526;
    border: none;
    width: 300px;
}


/*-------------Media Queries-------------*/

@media (min-width: 480px) and (max-width: 798px) {
    /*General*/
    html {
        overflow-x: hidden;
    }

    /*Header*/
    #header-background {
        height: 300px;
    }

    header h1 {
        display: none;
    }

    /*Navigation*/
    #navbar {
        position: relative;
        height: 240px;
        width: 100%;
    }
    
    #nav-menu {
        flex-direction: column;
    }

    /*About*/
    #about {
        height: 1725px;
    }
    
    #about h1 {
        font-size: 5em;
        line-height: 90px;
        padding-top: 10px;
    }

    #about h2 {
        font-size: 0.8em; 
        line-height: 20px;
    }

    #about-container {
        flex-direction: column;
        height: 1300px;
    }

    #about-container .third {
        height: 33.3%;
        width: 100%;
    }

    #about-left p {
        font-size: 1.2em;
    }

    #pole-studio {
        height: 280px;
        width: 280px;
    }

    #about ul {
        width: 80%;
        font-size: 1.2em;
        text-align: center;
    }

    .third i:before {
        display: inline-block;
        margin-left: -50px;
        width: 50px;
    }

    #about-button {
        margin-top: 42px;
        width: 100%;
    }

    #about-button button {
        width: 100%;
        padding: 30px;
        font-size: 1.3em;
    }

    /*Classes*/

    #classes {
        height: 2500px;
    }

    #class-section-wrapper {
        height: 2500px;
    }

    #class-pictures {
        flex-direction: column;
    }

    .overlay {
        height: 25%;
        width: 100%;
    }

    #class-header {
        margin-top: 60px;
        font-weight: 700;
        font-size: 4em;
        text-align: center;
    }

    #class-levels h2,
    #class-extras h2 {
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }

    .grid-row {
        flex-direction: column;
    }

    .level, .description {
        width: 100%;
        height: 50%;
    }

    .class {
        height: 50%;
        width: 50%;
    }

    .level h3, 
    .class h3 {
        font-size: 1.5em;
    }

    #class-buttons {
        flex-direction: column;
    }

    #class-buttons button {
        width: 100%;
        height: 100px;
    }
}

@media (min-width: 798px) and (max-width: 1024px) {
    
    /*General*/
    html {
        overflow-x: hidden;
    }

    /*Header*/
    header {
        height: 700px;
    }
    
    header h1 {
        margin-left: 100px;
    }

    /*Navigation*/
    #navbar {
        width: 100%;
    }

    /*About*/
    #about {
        height: 2100px;
        position: relative;
    }

    #about h1 {
        letter-spacing: 4px;
    }

    #about h2 {
        font-size: 1.1em;
    }

    #about-container {
        height: 1600px;
        flex-direction: column;
    }

    #about-container .third {
        height: 33.3%;
        width: 100%;
    }

    #about-container h3 {
        font-size: 2em;
        margin-top: 30px;
    }

    #about-container p {
        font-size: 1.7em;
        line-height: 30px;
    }

    #pole-studio {
        height: 400px;
        width: 400px;
    }

    #about-right ul {
        font-size: 1.5em;
        width: 80%;
    }

    .third i:before {
        display: inline-block;
        margin-left: -50px;
        width: 50px;
    }

    #about-button {
        margin-top: 60px;
    }

    #about-button button {
        width: 500px;
        padding: 30px;
        font-size: 1.5em;
    }

    /*Classes*/
    #class-pictures {
        display: flex;
        flex-wrap: wrap;
    }

    #class-header {
        margin-top: 20px;
        font-weight: 700;
    }

    .overlay {
        width: 50%;
        height: 50%;
    }

    .class-img h1 {
        margin-top: 0px;
    }

    .level h3 {
        font-size: 1.4em;
    }
}