/*-------------Google Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------General-------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*-------------Header-------------*/

header {
    height: 100%;
    width: 100%;
}

#header-background {
    height: 700px;
    background: url(/documentation/images/pole-dancer.jpg) no-repeat center center;
    background-size: cover;
    animation: bg-zoom 3s forwards;
}

@keyframes bg-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*-------------Navbar-------------*/

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    position: fixed;
    z-index: 2;
}

#nav-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF3B0;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    position: absolute;
    z-index: 1;
    margin-top: 500px;
    margin-left: 500px;
    font-size: 3.5em;
    font-family: 'Homemade Apple', cursive;
    text-transform: lowercase;
}

/*-------------About-------------*/

#about {
    height: 800px;
    position: relative;
    background-color: #C1121F;
}

#about h1,
#about h2 {
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    text-transform: uppercase;
    text-align: center;
}

#about h1 {
    font-size: 6em;
    font-weight: 400;
    letter-spacing: 8px;
}

#about h2 {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 15px;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    margin-top: 80px;
}

#about-container .third {
    width: 33.3%;
    height: 100%;
}

#about h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 4px;
}

#about-left,
#about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pole-studio {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background: url(/documentation/images/pole-studio.jpg) no-repeat center center;
    background-size: cover;
}


.third p {
    font-family: 'Poppins', sans-serif;
    color: #FFF3B0;
    text-align: justify;
    font-weight: 200;
    width: 90%;
    font-size: 1em;
    margin-top: 20px;
}

.third ul {
    list-style: none;
    margin-top: 20px;
    color: #FFF3B0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
    width: 90%;
}

.third li {
    margin-bottom: 20px;
}

.third i:before {
    display: inline-block;
    margin-left: -35px;
    width: 35px;
}

#about-button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-button button {
    padding: 20px;
    width: 300px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #9A5526;
    outline: none;
    border: none;
}


button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    color: #FFF3B0;
}



/*-------------Media Queries-------------*/

@media (min-width: 480px) and (max-width: 798px) {
    
    /*Header*/
    #header-background {
        height: 300px;
    }

    header h1 {
        display: none;
    }

    /*Navigation*/
    #navbar {
        position: relative;
        height: 240px;
        width: 100%;
    }
    
    #nav-menu {
        flex-direction: column;
    }

    /*About*/
    #about {
        height: 1725px;
    }
    
    #about h1 {
        font-size: 5em;
        line-height: 90px;
        padding-top: 10px;
    }

    #about h2 {
        font-size: 0.8em; 
        line-height: 20px;
    }

    #about-container {
        flex-direction: column;
        height: 1300px;
    }

    #about-container .third {
        height: 33.3%;
        width: 100%;
    }

    #about-left p {
        font-size: 1.2em;
    }

    #pole-studio {
        height: 280px;
        width: 280px;
    }


    #about ul {
        width: 80%;
        font-size: 1.2em;
        text-align: center;
    }

    .third i:before {
        display: inline-block;
        margin-left: -50px;
        width: 50px;
    }

    #about-button {
        margin-top: 42px;
        width: 100%;
    }

    #about-button button {
        width: 100%;
    }
}

@media (min-width: 798px) and (max-width: 1024px) {
    
    /*Header*/
    header {
        height: 700px;
    }
    
    header h1 {
        margin-left: 100px;
    }

    /*Navigation*/
    #navbar {
        width: 100%;
    }

    /*About*/
    #about {
        height: 2100px;
        width: 100%;
        position: relative;
    }

    #about h1 {
        letter-spacing: 4px;
    }

    #about h2 {
        font-size: 1.1em;
    }

    #about-container {
        height: 1600px;
        flex-direction: column;
    }

    #about-container .third {
        height: 33.3%;
        width: 100%;
    }

    #about-container h3 {
        font-size: 2em;
    }

    #about-container p {
        font-size: 1.7em;
    }

    #about-right ul {
        font-size: 1.5em;
        width: 80%;
    }

    .third i:before {
        display: inline-block;
        margin-left: -50px;
        width: 50px;
    }

    #about-button {
        margin-top: 60px;
    }

    #about-button button {
        width: 500px;
        padding: 30px;
        font-size: 1.5em;
    }
}