/*--------------------------------------[Google Fonts]--------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*--------------------------------------[General]--------------------------------------*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

/*--------------------------------------[Header]--------------------------------------*/

.header {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.header__background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(../documentation/images/pole-instructor4.jpg) no-repeat 50% 50%;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    animation: bg-zoom 5s forwards;
        -webkit-animation: bg-zoom 5s forwards;
        -moz-animation: bg-zoom 5s forwards;
        -o-animation: bg-zoom 5s forwards;
    overflow: hidden;
}

@keyframes bg-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.header__logo {
    margin-bottom: 90px;
    height: 90px;
    width: 90px;
    background: url(../documentation/images/SV-favicon.png) no-repeat center center;
    background-size: cover;
}

/*--------------------------------------[Navigation Menu]--------------------------------------*/
/* Credit: https://www.webdesignvista.com/create-responsive-navbar-without-bootstrap/ */

.nav-wrapper {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar {
    background-color: rgba(25, 25, 25, 0.85);
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.4em;
}

#navlist li a {
    font-size: 18px;
    color: #F69051;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#toggle-nav {
  display: none;
  margin: auto;
  cursor: pointer;
}

/*--------------------------------------[About section]--------------------------------------*/

.section__about {
    height: 850px;
    background-color: #564256;
    font-family: 'Poppins', sans-serif;
    color: #E8E8E8;
}

.about__headings {
    height: 20%;
    display: flex;
    flex-direction: column;
}

.about__headings h1,
.about__headings h2 {
    text-transform: uppercase;
    text-align: center;
}

.about__headings h1 {
    font-size: 3.9em;
    padding: 0.4em 0.25em 0 0.25em;
    font-weight: 500;
    letter-spacing: 10px;
}

.about__headings h2 {
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 6px;
    padding: 0 0.25em 0 0.25em;
}

.section__about .about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    margin-top: 30px;
    background: url(../documentation/images/pole-studio3.jpg) no-repeat fixed center;
    background-size: cover;
}

.about__container .half {
    height: 100%;
    width: 50%;
    background-color: rgb(25, 25, 25, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about__left h3,
.about__right h3 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 1em;
    letter-spacing: 4px;
    margin-top: 20px;
}

.about__left p {
    text-align: justify;
    font-weight: 200;
    line-height: 40px;
    padding: 0 2em 2em 2em;
    font-size: 1.7vw;
}

.about__right ul {
    padding: 0 4em 2em 4em;
    list-style: none;
    font-weight: 200;
    font-size: 1.6vw;
}

.about__right li {
    margin-bottom: 40px;
    line-height: 30px;
}

.about__right i {
    color: #F69051;
}

.about__right li i:before {
    display: inline-block;
    margin-left: -35px;
    width: 25px;
}

.about__container--button {
    background-color: #191919;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about__container--button a {
    padding: 1em 1em 1em 1em;
    font-weight: 700;
    font-size: 1.7em;
    color: #F69051;
    text-decoration: none;
    text-transform: uppercase;
}

/*--------------------------------------[Classes section]--------------------------------------*/

.section__classes {
    background-color: #E8E8E8;
}

.section__classes h1 {
    padding: 0.9em 0.6em 0.6em 0.6em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 10px;
    color: #191919;
}

.carousel {
    background: rgba(86, 66, 86, 0.5);
    padding: 20px 0;
}

.carousel-cell {
    width: 70%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
}

.carousel-cell--overlay {
    height: 100%;
    width: 100%;
    background:rgba(25, 25, 25, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel-cell--overlay h2 {
    padding: 0.3em;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: #E8E8E8;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.carousel-cell--overlay p {
    padding: 0 1.5em 1.5em 1.5em;
    font-size: 2.1vw;
    font-family: 'Poppins', sans-serif;
    color: #E8E8E8;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
}

/*-----------------------------------[Classes carousel]-----------------------------------*/

        .carousel-cell:nth-of-type(1) {
            background: url(../documentation/images/beginner.png) no-repeat center center;
            background-size: contain;
        }

        .carousel-cell:nth-of-type(2) {
            background: url(../documentation/images/improver.png) no-repeat center center;
            background-size: contain;
        }

        .carousel-cell:nth-of-type(3) {
            background: url(../documentation/images/intermediate.png) no-repeat center center;
            background-size: contain;
        }

        .carousel-cell:nth-of-type(4) {
            background: url(../documentation/images/advanced.png) no-repeat center center;
            background-size: contain;
        }

        .carousel-cell:nth-of-type(5) {
            background: url(../documentation/images/elite.png) no-repeat center center;
            background-size: contain;
        }

/*------------------------------------------------------------------------------------*/

.carousel-cell:before {
  display: block;
  text-align: center;
}

.cell__description {
    height: 35%;
    width: 100%;
    background: #191919;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell__description--cell {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E8E8E8;
}

.cell__description--cell p {
    padding: 0.5em;
    font-weight: 500;
    text-align: left;
    font-size: 1.5vw;
}

.cell__description--cell i {
    font-size: 2em;
    padding: 0 1em 0 0.8em;
}

.section__classes--extras {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 60px;
}

.section__classes--extras h3 {
    padding: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__classes--extras ul {
    padding: 0 1.5em 1.5em 1.5em;
    list-style: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.section__classes--extras i {
    color: #F69051;
} 

.section__classes--extras li {
    margin-bottom: 10px;
}

.section__classes--buttons {
    background-color: #191919;
    height: 100px;
    width: 100%;
    display: flex;
    flex: auto;
    align-items: center;
}

.section__classes--buttons a {
    width: 25%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F69051;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1.5em;
}

/*--------------------------------------[Instructors section]--------------------------------------*/

.section__instructors {
    background-color: #564256;
    padding-bottom: 30px;
}

.section__instructors h1 {
    font-size: 3.9em;
    padding: 0.4em 0.25em;
    font-weight: 500;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #E8E8E8;
}

.section__instructors h2 {
    font-size: 1.3em;
    padding-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #E8E8E8;
}

.section__instructors .instructors__container {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.instructors__container .quarter {
    height: 45%;
    width: 45%;
}

.instructors__container .quarter:nth-of-type(1) {
    background: url(../documentation/images/pole-instructor.jpg) no-repeat center center;
    background-size: cover;
}

.instructors__container .quarter:nth-of-type(2) {
    background: url(../documentation/images/pole-instructor2.jpg) no-repeat center center;
    background-size: cover;
}

.instructors__container .quarter:nth-of-type(3) {
    background: url(../documentation/images/pole-instructor3.jpg) no-repeat center center;
    background-size: cover;
}

.instructors__container .quarter:nth-of-type(4) {
    background: url(../documentation/images/pole-instructor6.jpg) no-repeat center center;
    background-size: cover;
}

.quarter .quarter--overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: transparent;
}

.quarter .quarter--overlay:hover {
    background-color: rgba(25, 25, 25, 0.9);
    color: #E8E8E8;
}

.quarter .quarter--overlay h3,
.quarter .quarter--overlay p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0.4em;
}

.quarter .insta {
    font-weight: 700;
    text-transform: uppercase;
}

.quarter .quarter--overlay h3 {
    font-size: 1.6em;
}


/*--------------------------------------[Testimonials section]--------------------------------------*/

.section__reviews {
    background: url(../documentation/images/pole-dancer2.jpg) no-repeat fixed center center;
    background-size: cover;
}

.section__reviews h1 {
    font-size: 3.9em;
    padding: 0.4em 0.25em;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #E8E8E8;
}

.section__reviews .reviews--overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.8);
}

.section__reviews .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__reviews .review--text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
    padding: 1.5em 1.5em 0 1.5em;
    text-align: justify;
}

.section__reviews .review span {
    font-weight: 700;
    color: #F69051;
}

.review .name {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700;
}

/*--------------------------------------[Testimonials carousel]--------------------------------------*/

        .reviews__carousel-cell {
            width: 30%;
            height: 400px;
            margin-right: 25px;
            background: #191919;
            border-radius: 5px;
        }

        /* cell number */
        .reviews__carousel-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
        }

        .reviews__carousel-cell .photo {
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .reviews__carousel-cell .review {
            height: 60%;
            background-color: #E8E8E8;
        }

        .photo--img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }

/*---------------------------------------------------------------------------------------------*/

.reviews--social-media {
    height: 130px;
    background-color: #191919;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.reviews--social-media .left, .reviews--social-media .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews--social-media .right a {
    padding: 1em;
    font-size: 2vw;
    color: #F69051;
}

.reviews--social-media .left h2 {
    padding: 1em 1em 1em 1em;
    font-weight: 700;
    font-size: 1.4em;
    color: #F69051;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/*-----------------------------------[Reviews carousel photos]-----------------------------------*/
    .photo--1 {
        background: url(../documentation/images/brooke-cagle-k9XZPpPHDho-unsplash.jpg) no-repeat center center;
        background-size: cover;
    }

    .photo--2 {
        background: url(../documentation/images/shawnee-d-wOe_VGJe3TE-unsplash.jpg) no-repeat center center;
        background-size: cover;
    }

    .photo--3 {
        background: url(../documentation/images/ben-parker-ym--mSBZ0ro-unsplash.jpg) no-repeat center center;
        background-size: cover;
    }

    .photo--4 {
        background: url(../documentation/images/bruno-adam-9n-WKWQZrno-unsplash.jpg) no-repeat center center;
        background-size: cover;
    }

/*--------------------------------------[Contact section]--------------------------------------*/

.section__contact {
    display: flex;
    flex-direction: row;
    background-color: #E8E8E8;
}

.contact__half {
    width: 50%;
    height: 600px;
}

.section__contact .left {
    background-color: rgba(86, 66, 86, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__contact .left h2, .section__contact .right h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    padding: 0em 1em 0em 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #191919;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0.3em;
    color: #191919;
}

.contact__form input {
    width: 250px;
    padding: 2px;
}

.contact__form textarea {
    padding: 5px;
    width: 70%;
}

.contact__form button {
    padding: 7px;
    margin-top: 10px;
    background-color: #F69051;
    color: #191919;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
}

.section__contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .phone-number, .right .email, .right .chat {
    height: 20%;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(86, 66, 86, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-number p, .email p, .chat p {
    padding: 0.5em;
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.email a, .chat a {
    text-decoration: none;
    color: #191919;
    text-align: center;
}

/*--------------------------------------[Footer]--------------------------------------*/

.footer {
    height: 200px;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__opening-times, .footer__location, .footer__copyright {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer__opening-times, .footer__location a, .footer__copyright p {
    text-decoration: none;
    color: #E8E8E8;
    font-size: 1.3vw;
}

.footer__location a {
    padding: 1em;
}

/*--------------------------------------[Media Query - up to 630px]--------------------------------------*/

@media all and (max-width: 630px) {

/* Header */
    .header {
        height: 400px;
    }

    .header__background {
        background: url(../documentation/images/pole-instructor4.jpg) no-repeat center center;
        background-size: cover;
    }

    .header__background h1 {
        z-index: 1;
        font-size: 1.4em;
        margin-bottom: 50px;
        font-family: 'Homemade Apple', cursive;
        text-transform: lowercase;
    }

/* Navigation */
    .navbar {
        padding: 1.6em;
     }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #navlist li {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #toggle-nav {
        display: block;
        color: #F69051;
    }

     #toggle-nav i {
        display: inline;
    }

    #toggle-nav #nav-menu {
        display: inline;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #F69051;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
    }

/* About */
    .section__about {
        height: 1150px;
    }

    .about__headings h1 {
        font-size: 9.3vw;
        padding: 0 0.5em 0 0.5em;
    }

    .about__headings h2 {
        font-size: 2vw;
        padding: 0 1.5em 0 1.5em;
    }

    .section__about .about__headings {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;
    }

    .section__about .about__container {
        flex-direction: column;
        height: 70%;
    }

    .about__container .half {
        width: 100%;
        height: 50%;
    }

    .about__left h3,
    .about__right h3 {
        font-size: 1em;
    }

    .about__left p {
        font-size: 3.1vw;
        line-height: 30px;
    }

    .about__right ul {
        padding: 0 2em 0 5em;
        font-size: 2.5vw;
    }

    .about__right li {
        margin-bottom: 10px;
    }

    .about__right li i:before {
        display: inline-block;
        margin-left: -25px;
        width: 25px;
    }

    .section__about .about__container--button {
        height: 10%;
    }

/* Classes */
    .section__classes h1 {
        font-size: 2.3em;
        font-weight: 700;
        padding-top: 1.5em;
    }

    .carousel-cell {
        height: 550px;
        width: 80%;
    }

    .carousel-cell--overlay h2 {
        font-size: 9vw;
    }

    .carousel-cell--overlay p {
        font-size: 3.5vw;
    }

    .cell__description {
        display: flex;
        flex-direction: column;
    }

    .cell__description--cell {
        height: 25%;
        width: 100%;
    }

    .cell__description--cell p {
        font-size: 2.3vw;
    }

    .cell__description--cell i {
        font-size: 1em;
    }

    .section__classes--extras h3 {
        font-size: 4vw;
    }

    .section__classes--extras ul {
        font-size: 3.8vw;
    }

    .section__classes--buttons {
        height: 290px;
        flex-direction: column;
        align-items: center;
    }

    .section__classes--buttons a {
        height: 25%;
        width: 100%;
        font-size: 1em;
    }

/* Instructors */
    .section__instructors h1 {
        font-size: 7vw;
        font-weight: 700;
        padding: 1em;
    }

    .section__instructors .instructors__container {
        flex-direction: column;
        height: 1000px;
    }

    .instructors__container .quarter {
        height: 23%;
        width: 100%;
    }

/* Testimonials */
    .section__reviews h1 {
        font-size: 2.3em;
        padding: 1em;
    }

    .reviews__carousel-cell {
        width: 50%;
    }

    .reviews--social-media {
        flex-direction: column;
        height: 260px;
    }

    .reviews--social-media .left, .reviews--social-media .right {
        width: 100%;
        height: 50%;
    }

    .reviews--social-media .left {
        font-size: 2.5vw;
    }

    .reviews--social-media .right a {
        font-size: 6vw;
    }

    .section__reviews .review {
        justify-content: space-evenly;        
    }

    .section__reviews .review--text {
        font-size: 2.6vw;
    }

/* Contact */ 
    .section__contact {
        flex-direction: column;
    }

    .section__contact .left {
        width: 100%;
        height: 600px;
    }

    .section__contact .right {
        height: 300px;
        width: 100%;
    }

    .right .phone-number, .right .email, .right .chat {
        width: 100%;
        border-radius: 0px;
        background-color: transparent;
    }

    .phone-number p, .email a, .chat p {
        font-size: 3.2vw;
    }
    

/* Footer */
    .footer {
        flex-direction: column;
        height: 600px;
    }

    .footer__opening-times, .footer__location, .footer__copyright {
        width: 100%;
        height: 33%;
    }

    .footer__opening-times, .footer__location a, .footer__copyright p {
        font-size: 3vw;
        letter-spacing: 2px;
    }

/*Error page (404.html)*/
    .error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        margin-top: 100px;
    }

    .error i {
        font-size: 4em;
        color: #C1121F;
    }

    .error h1 {
        font-size: 6em;
        text-align: center;
        padding: 0.5em 0.5em 0 0.5em;
    }

    .error h2 {
        font-size: 2em;
        padding: 0 0.5em 0.5em 0.5em;
    }

    .error button {
        padding: 10px;
        background-color: #9A5526;
        color: #FFF3B0;
        outline: none;
        border: none;
        margin-top: 20px;
    }

    .error button a {
        font-weight: 300;
    }
}

/*--------------------------------------[Media Query - 1024px and above]--------------------------------------*/

@media all and (min-width: 1024px) {

/* Header */
    .header {
        height: 700px;
    }

    .header__background h1 {
        font-size: 2.8em;
        margin-bottom: 80px;
    }

/* About section */
    .section__about {
        height: 900px;
    }

    .section__about .about__headings {
        height: 30%;
    }

    .section__about .about__container {
        height: 60%;
    }

    .section__about .about__container--button {
        height: 10%;
    }

    .about__headings h1 {
        font-size: 6.8em;
        letter-spacing: 15px;
        padding: 0.3em 0.1em 0 0.1em;
    }

    .about__headings h2 {
        font-size: 1.7vw;
        letter-spacing: 9px;
    }

    .about__left h3,
    .about__right h3 {
        font-size: 1.7em;
    }
    
    .about__left p {
        font-size: 1.35vw;
    }

    .about__right ul {
        padding: 0 2em 0 5em;
        font-size: 1.2vw;
    }

    .about__right li {
        margin-bottom: 25px;
        line-height: 40px;
    }

    .about__right li i:before {
        display: inline-block;
        margin-left: -45px;
        width: 45px;
    }

/* Classes */
    .section__classes h1 {
        font-size: 3.5em;
    }

    .carousel-cell {
        height: 450px;
    }

    .carousel-cell--overlay p {
        font-size: 1.8vw;
    }

    .cell__description--cell p {
        font-size: 1.5vw;
    }

    .section__classes--extras h3 {
        font-size: 2.9vw;
    }

    .section__classes--extras ul {
        font-size: 1.5vw;
        font-weight: 500;
    }

/* Testimonials */
    .section__reviews .review--text {
        font-size: 1.3vw;
    }
}

/*--------------------------------------[Media Query - 1250px and above]--------------------------------------*/

@media all and (min-width: 1250px) {

/* Classes */
    .section__classes h1 {
        font-size: 4em;
    }

    .carousel-cell {
        height: 400px;
    }

    .carousel-cell--overlay p {
        font-size: 1.3vw;
    }

    .cell__description--cell p {
        font-size: 1.1vw;
    }

    .section__classes--extras {
        height: 350px;
    }

    .section__classes--extras h3 {
        font-size: 2vw;
    }

    .section__classes--buttons a {
        font-size: 1.7em;
        padding: 0.9em;
    }

/* Footer */
    .footer__opening-times, .footer__location a, .footer__copyright p {
        font-size: 1.1em;
    }
}

/*-------------------------------------------[Media Query - 1920px and above]-------------------------------------------------*/

@media all and (min-width: 1920px) {
    .section__reviews .review--text {
        font-size: 1vw;
    }
}

/*-------------------------------------------[Error page]--------------------------------------------------------*/

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
}

.error i {
    font-size: 4em;
    color: #C1121F;
}

.error h1 {
    font-size: 6em;
    text-align: center;
}

.error h2 {
    font-size: 2em;
}

.error-link {
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    background-color: #9A5526;
    color: #FFF3B0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
}
